@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el tamaño no se vea afectado por el padding */
  }

html, body{
    height: 100vh;
    width: 100vw;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F0F0F0;    
}

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 70%;
    height: 70%;
    background-color: #D6E1F0;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: #c8c9cc 10px 10px 50px;
}

.card{
    width: 250px;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: #bdc9dc 2px 2px 15px;
}

.card .imageCard img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.attribution{
    padding-top: 10px;
}

.textCard h1{
    padding: 0.94rem 0.31rem 0 0.31rem;
    font-size: 1.08em;
}
.textCard p{
    color: #959595;
    padding: 0.8rem 0.1rem 2rem 0.1rem;
    font-size: 14px;
}

@media (max-width:800px) {
    .content{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}

@media (orientation: landscape) and (max-width:900px) {
    .content{
        width: 100vw;
        height: 100vh;
        box-shadow: none;  
    }
    #container{
        height: 600px; 
    }
}